<div ng-controller = "MainCtrl" class = "row footer">
  <p class = "footer">&copy; 2016 {{awesome? awesome.short : frb.short}}. All rights reserved.
    </br>
    </br>
    Deposit and loan products are offered by {{awesome? awesome.short : frb.short}}
    Bank, Member FDIC and Equal Housing Lender
    <img style="margin-top: -5px" src="./img/EHO.svg">
    </br>
    </br>
    {{awesome? awesome.short : frb.short}} Private Wealth Management includes
    {{awesome? awesome.short : frb.short}} Trust Company;
    {{awesome? awesome.short : frb.short}} Trust Company of Delaware LLC;
    </br>
    {{awesome? awesome.short : frb.short}} Investment Management Inc., an SEC Registered Investment Advisor,
    and {{awesome? awesome.short : frb.short}} Securities Company, LLC,
    </br>
    Member
    <a style="color: white" class="footer">FINRA</a>
    <img style="margin-top: -3px; cursor: pointer"
         src="./img/speedbump.svg"
         data-html="true"
         data-toggle="tooltip"
         title="<b>Leaving First Republic</b><br />
                By clicking on this link, you will enter a third party website.
                First Republic is not responsible for the content, links, privacy policy,
                or security policy of this website." /> /
    <a style="color: white; cursor: pointer" class="footer">SIPC</a>
    <img style="margin-top: -3px;"
         src="./img/speedbump.svg"
         data-html="true"
         data-toggle="tooltip"
         title="<b>Leaving First Republic</b><br />
                By clicking on this link, you will enter a third party website.
                First Republic is not responsible for the content, links, privacy policy,
                or security policy of this website." />.
    </br>
    </br>
    *Brokerage services offered by {{awesome? awesome.short : frb.short}}
    Securities Company, LLC. Investment performance may vary by client.
  </p>

  <div class = "row footer-box">
    <p class = "footer-2">Investment, Insurance and Advisory Products and Services are Not FDIC Insured,
    Not Guaranteed and May Lose Value.</p>
  </div>

  <ul style="display: inline-block; padding-top: 10px" class = "list-unstyled footer">
    <li style="display: inline-block;"><a style=" color:white">Terms &amp; Conditions</a></li>
    <li style="display: inline-block;"><a style=" color:white"> | </a></li>
    <li style="display: inline-block;"><a style=" color:white">Privacy Policy</a></li>
    <li style="display: inline-block;"><a style=" color:white"> | </a></li>
    <li style="display: inline-block;"><a style=" color:white">Security</a></li>
  </ul>

</div>
