<div class="overpanel">
  <div class="row content"
      ng-class="overpanelClass">
    <svg id='close-icon'
        version="1.1"
        height="27px" width="27px"
        style="cursor: pointer; position: absolute; top: 30px; right: 25px;"
        ng-click="$dismiss()">
      <g stroke-linecap="round"
          stroke="#4A4A4A"
          stroke-width="3">
        <path d="M1.875,1.875 L25.125,25.125"></path>
        <path d="M25.125,1.875 L1.875,25.125"></path>
      </g>
    </svg>
  </div>
  <div class='row footer'>
  </div>
</div>
