<div class="row">

  <div class = "col-md-offset-3 col-md-3">
    <ul class = "login list-unstyled">
      <li class = "login"><p><b>Username</b></p></li>
      <li class = "login"><input type="text" name="username" placeholder="Enter your username"></li>
      <li class = "login"><a ng-href="" class = "link6">Forgot your username?</a></li>
      <li class = "login"><a ng-href="" class = "link6">No username? Enroll now</a></li>
      <li class = "login"><p><b>Password</b></p></li>
      <li class = "login"><input type="password" name="password" placeholder="Enter your password"></li>
      <li class = "login"><a ng-href-"" class = "link6">Forgot your password?</a></li>
      <li class = "login"><input type="checkbox" style="left: 0;"><p class = "remember-me">Remember me for next time</p></li>
      <li class = "login"><button class = "btn btn-default btn-raven">Submit</button></li>
    </ul>
  </div>

  <div class = "login-side col-md-3">
    <div id = "login-img"> Picture!!! </div>
    <ul class = "list-unstyled">
      <li><b>More about online banking</b></li>
      <li></br></li>
      <li><a class = "link3">Learn more about Online and Mobile Banking</a></li>
      <li><a class = "link3">Banking Online Master Agreement</a></li>
      <li><a class = "link3">Two step authentication</a></li>
      <li><a class = "link3">Browser compatibility</a></li>
      <li><a class = "link3">What is a Trusteer Rapport?</a></li>
    </ul>
  </div>

</div>
