<div class = "greeting">
  <h2 class = "section-title" style="margin-top: -20px;">Profile</h2>
</div>

<main style="max-width: 10000px;">
  <gutter></gutter>
  <div class="content-panel panel-head">
    <gutter></gutter>
    <p>Please review and update your profile</p>
  </div>
  <div class="content-panel">
    <div class="row">
      <div class="col-md-3">
        <div class="form-field-header">Prefix<sup>*</sup></div>
        <div>
          <div ng-controller="CustomDropdown" class="dropdown row">
            <button style="padding-left: 18px"  class="dropdown-toggle" ng-model="item" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <div ng-if="!item">
                Mr.
              </div>
              <div ng-if="item">
                <p style="padding-top: 6px" class="body">Mr.</p>
              </div>
            </button>
            <i class="fa fa-angle-down" id="transfer"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li style="padding-left: 18px; padding-top: 9px; padding-bottom: 9px; cursor: pointer" >Mr.</li>
              <li style="padding-left: 18px; padding-top: 9px; padding-bottom: 9px; cursor: pointer" >Mrs.</li>
              <li style="padding-left: 18px; padding-top: 9px; padding-bottom: 9px; cursor: pointer" >Ms.</li>
            </ul>
          </div>
        </div>
      </div>

          <div class='col-md-6'>
            <div class="form-field-header">First Name<sup>*</sup></div>
            <div style="position: relative">

              <input ng-model="text" style="width: 100%; padding-left: 30px; background-color: #f3f3f3;" type="text" placeholder="Chris" />
            </div>

          </div>

          <div class='col-md-3'>
            <div class="form-field-header">Middle Name</div>
            <div style="position: relative">

              <input ng-class="" ng-model="text" style="width: 100%; padding-left: 30px;" type="textarea" value="" />
            </div>

          </div>

        </div>

        <div class="row">
          <div class="col-md-9">
            <div class="form-field-header">Last Name<sup>*</sup></div>
            <div style="position: relative">

              <input ng-class="" ng-model="text" style="width: 100%; padding-left: 30px; background-color: #f3f3f3;" type="textarea" placeholder="Riley" />
          </div>
          </div>

          <div class="col-md-3">
            <div class="form-field-header">Suffix</div>
            <div style="position: relative">

              <input ng-class="" ng-model="text" style="width: 100%; padding-left: 30px" type="textarea" placeholder="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-field-header">E-mail Address<sup>*</sup></div>
            <div style="position: relative">

              <input ng-class="" ng-model="text" style="width: 100%; padding-left: 30px; background-color: #f3f3f3;" type="textarea" placeholder="frclient@gmail.com" />
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <div class="form-field-header">Address 1<sup>*</sup></div>
            <div style="position: relative">

              <input ng-class="" ng-model="text" style="width: 100%; padding-left: 30px; background-color: #f3f3f3;" type="textarea" placeholder="111 Here Way" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-field-header">Address 2</div>
            <div style="position: relative">

              <input ng-class="" ng-model="text" style="width: 100%; padding-left: 30px" type="textarea" placeholder="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
                  <div class="form-field-header">Country<sup>*</sup></div>
        <div>
          <div ng-controller="CustomDropdown" class="dropdown row">
            <button style="padding-left: 18px"  class="dropdown-toggle" ng-model="item" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <div ng-if="!item">
                United States
              </div>
              <div ng-if="item">
                <p style="padding-top: 6px" class="body">United States</p>
              </div>
            </button>
            <i class="fa fa-angle-down" id="transfer"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li style="padding-left: 18px; padding-top: 9px; padding-bottom: 9px; cursor: pointer" >United States</li>
              <li style="padding-left: 18px; padding-top: 9px; padding-bottom: 9px; cursor: pointer" >United Kingdom</li>
              <li style="padding-left: 18px; padding-top: 9px; padding-bottom: 9px; cursor: pointer" >Canada</li>
            </ul>
          </div>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-field-header">City<sup>*</sup></div>
            <div style="position: relative">

              <input ng-class="" ng-model="text" style="width: 100%; padding-left: 30px; background-color: #f3f3f3;" type="textarea" placeholder="San Francisco" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-field-header">State<sup>*</sup></div>
                    <div>
          <div ng-controller="CustomDropdown" class="dropdown row">
            <button style="padding-left: 18px"  class="dropdown-toggle" ng-model="item" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <div ng-if="!item">
                California
              </div>
              <div ng-if="item">
                <p style="padding-top: 6px" class="body">California</p>
              </div>
            </button>
            <i class="fa fa-angle-down" id="transfer"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li style="padding-left: 18px; padding-top: 9px; padding-bottom: 9px; cursor: pointer" >California</li>
              <li style="padding-left: 18px; padding-top: 9px; padding-bottom: 9px; cursor: pointer" >New York</li>
              <li style="padding-left: 18px; padding-top: 9px; padding-bottom: 9px; cursor: pointer" >Portland</li>
            </ul>
          </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="form-field-header">ZIP<sup>*</sup></div>
            <div style="position: relative">

              <input ng-class="" ng-model="text" style="width: 100%; padding-left: 30px; background-color: #f3f3f3;" type="textarea" placeholder="94111" />
          </div>
        </div>
      </div>

      <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="form-field-header">Phone Country<sup>*</sup></div>
        <div>
          <div ng-controller="CustomDropdown" class="dropdown row">
            <button style="padding-left: 18px"  class="dropdown-toggle" ng-model="item" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <div ng-if="!item">
                United States
              </div>
              <div ng-if="item">
                <p style="padding-top: 6px" class="body">United States</p>
              </div>
            </button>
            <i class="fa fa-angle-down" id="transfer"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li style="padding-left: 18px; padding-top: 9px; padding-bottom: 9px; cursor: pointer" >United States</li>
              <li style="padding-left: 18px; padding-top: 9px; padding-bottom: 9px; cursor: pointer" >United Kingdom</li>
              <li style="padding-left: 18px; padding-top: 9px; padding-bottom: 9px; cursor: pointer" >Canada</li>
            </ul>
          </div>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-field-header">Home Phone<sup>*</sup></div>
            <div style="position: relative">

              <input ng-class="" ng-model="text" style="width: 100%; padding-left: 30px; background-color: #f3f3f3;" type="textarea" placeholder="(415) 555-5555" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-field-header">Work Phone<sup>*</sup></div>
            <div style="position: relative">

              <input ng-class="" ng-model="text" style="width: 100%; padding-left: 30px; background-color: #f3f3f3;" type="textarea" placeholder="(415) 555-5555" />
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:20px;">
        <div class="col-md-9"><p><sup>*</sup> All fields are required unless noted optional.</p></div>
        <div class="col-md-3">
          <button class="btn btn-gold" style="width: 100%;">Submit Profile</button>
        </div>
      </div>
    </main>
